<section class="no-padding" id="album">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/1.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                 2010
                            </div>
                            <div class="project-name">
                                La nostra prima foto insieme
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/2.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2010
                            </div>
                            <div class="project-name">
                                Festa a Milano
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/3.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2011
                            </div>
                            <div class="project-name">
                                Nostro primo viaggio: Parigi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/4.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2012
                            </div>
                            <div class="project-name">
                                Erasmus a Magdeburg
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/5.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2014
                            </div>
                            <div class="project-name">
                                Laurea di Simona
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/6.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Koh Chang, Thailandia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/7.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2015
                            </div>
                            <div class="project-name">
                                Color Run a Milano
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/8.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2016
                            </div>
                            <div class="project-name">
                                Koh Phangan, Thailandia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/9.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2017
                            </div>
                            <div class="project-name">
                                Kyoto, Giappone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/10.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                10 agosto 2018
                            </div>
                            <div class="project-name">
                                Ci siamo fidanzati!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/11.jpg" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2018
                            </div>
                            <div class="project-name">
                                Trasferimento a Sesto Calende
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="album-box">
                    <img src="img/album/12.JPG" class="img-responsive" alt="">
                    <div class="album-box-caption">
                        <div class="album-box-caption-content">
                            <div class="project-category text-faded">
                                2019
                            </div>
                            <div class="project-name">
                                Dubai
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
