<section class="bg-white" id="chisono">
    <div class="container">
        <div class="row">
            <div>
                <h2 class="section-heading text-center"><b>Chi sono?</b></h3>
                <p>
                    Ciao a tutti!
                </br>
                    Mi presento: sono una psicologa dello sviluppo esperta in DSA e in generale 
                    in difficoltà d’apprendimento, e mi occupo da anni di ambito evolutivo.
                </br>
                    Nello specifico mi occupo di:
                    <ul>
                        <li>
                            Valutazione DSA
                        </li>
                        <li>
                            Metodo di studio
                        </li>
                        <li>
                            Incontri specifici sulla matematica
                        </li>
                        <li>
                            Potenziamento delle abilità 
                        </li>
                        <li>
                            Consulenza e incontri online
                        </li>
                        <li>
                            Progetti estivi
                        </li>
                        <li>
                            Colloqui di sostegno individuale
                        </li>
                    </ul>
                </p>
                <p>
                    Quello a cui miro è supportare lo studente a 360° fornendogli, tramite diversi tipi di intervento, 
                    le strategie necessarie che gli servono per essere efficace a scuola. 
                    Dò molta importanza anche all’aspetto emotivo dell’apprendimento: sono importanti i contenuti, 
                    ma è anche importantissimo sentirsi un <b>vincitore</b> a scuola! 
                </br></br>
                    Nulla come la motivazione può trainare e portare al successo ;) 
                </br></br>
                    I miei studi e la mia esperienza mi hanno portato ad avere delle solide basi teoriche e 
                    padroneggio diverse tecniche e strumenti per riuscire a sostenere lo studente in base ai suoi specifici punti di forza e 
                    debolezza.
                    La chiave del metodo di studio è in una parola tanto scontata quanto difficile da applicare: <b>personalizzazione</b>.
                </br></br>
                    Il mio scopo è collaborare con la famiglia e la scuola per arrivare là dove da soli non si riesce!
                </br></br>
                    Mi piacerebbe anche raccontarvi come mi sono avvicinata all’ambito dell’apprendimento… 
                </br></br>
                    Come tanti è stato quasi per caso, dando ripetizioni durante l’università. Mi è capitato così di conoscere 
                    questo ragazzino dislessico di prima media, sveglio e simpatico, ma che faceva proprio fatica a memorizzare… 
                    Lui è stato il primo che ha dato inizio a questa avventura, che mi ha portato a migliorarmi e specializzarmi 
                    sempre di più, ma che soprattutto ha portato a un lavoro che mi piace tantissimo e mi dà tantissime soddisfazioni!
                </br></br>
                </p>
                <h4 class="section-heading text-center"><b>La mia formazione...</b></h4>
                <p>
                    Però ora voglio parlarvi un po’ di me, così che possiate conoscermi un po’ di più. 
                </br></br>
                    Sono nata e cresciuta in un paese in provincia di Novara, 
                    che si trova in mezzo a due meravigliosi laghi, quello d’Orta e il Maggiore, ma per quasi dieci d’anni ho vissuto a Milano.

                    Ho frequentato il liceo classico, e ora la reputo una scelta bella e fondamentale della mia vita, 
                    perché mi ha permesso di affrontare lo studio (per niente semplice!) di diverse materie. 
                    Sono conoscenze su me stessa (approfondite poi con 5 anni di università) che ora posso mettere in atto con i miei studenti, 
                    semplicemente perché io stessa in primis mi sono scontrata con tonnellate di pagine da studiare, infinite righe a memoria e 
                    teoremi e procedure matematiche da comprendere!
                    Sono una persona curiosa a cui tuttora piace studiare e aggiornarsi, quindi ancora adesso sto perfezionando su me stessa 
                    cosa può e cosa non può funzionare nello studio (nuovo obiettivo: il francese!).
                </p>
                <h4 class="section-heading text-center"><b>Le mie passioni...</b></h4>
                <p>
                    Oltre alla passione per il mio lavoro, un’altra cosa che amo è viaggiare! Sono brava a pianificare e organizzare, 
                    e utilizzo questa mia capacità nell’organizzare brevi (o lunghe!) fughe dalla realtà, 
                    possibilmente in posti esotici forniti di palme.
                </br></br>
                    Sono anche amante dello sport, faccio delle maratone di Netflix che non finiscono più… ;) 
                </br></br>
                    Trovi le spiegazioni specifiche di cosa posso fare per te nell’area “Servizi” del sito, 
                    se c’è qualcosa che posso fare per aiutarti, questo è il tasto:
                </p>
            </div>
        </div>
    </div>
</section>
