<section class="bg-white" id="chisono">
    <div class="container">
        <div class="row col-lg-10 col-lg-offset-1">
            <div>
                <h4 class="section-heading"><b>Ciao a tutti!</b></h4>
                <img src="{{ site.baseurl }}/img/astuccio.png" align=right hspace="30" vspace="20" width="50%"> 
                <p>
                    Mi presento: sono una psicologa dello sviluppo esperta in DSA e 
                    in difficoltà d’apprendimento, e mi occupo da anni di ambito evolutivo.
                </br>
                    Nello specifico mi occupo di:
                    <ul>
                        <li>
                            <a href="{{ site.baseurl }}/valutazione"><b>Valutazione DSA</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/metododistudio"><b>Metodo di studio</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/matematica"><b>Incontri specifici sulla matematica</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/potenziamento"><b>Potenziamento delle abilità</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/consulenzaonline"><b>Consulenza e incontri online</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/progettiestivi"><b>Progetti estivi</b></a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/sostegnoindividuale"><b>Colloqui di sostegno individuale</b></a>
                        </li>
                    </ul>
                </p>
                <p>
                    Quello a cui miro è supportare lo studente a 360° fornendogli, tramite diversi tipi di intervento, 
                    le strategie necessarie che gli servono per essere efficace a scuola. 
                    Dò molta importanza anche all’aspetto emotivo dell’apprendimento: sono importanti i contenuti, 
                    ma è anche importantissimo sentirsi un <b>vincitore</b> a scuola! 
                </br></br>
                    Nulla come la motivazione può trainare e portare al successo ;) 
                </br>
                    I miei studi e la mia esperienza mi hanno portato ad avere delle solide basi teoriche e 
                    padroneggio diverse tecniche e strumenti per riuscire a sostenere lo studente in base ai suoi specifici punti di forza e 
                    debolezza.
                    La chiave del metodo di studio è in una parola tanto scontata quanto difficile da applicare: <b>personalizzazione</b>.
                </br>
                    Il mio scopo è collaborare con la famiglia e la scuola per arrivare là dove da soli non si riesce!
</br></br><b>Com'è nata l'idea?</b>

                    <i>Mi piacerebbe anche raccontarvi come mi sono avvicinata all’ambito dell’apprendimento…<i/>                </br></br>

Durante l’università ho iniziato a dare ripetizioni. E’ così che ho conosciuto la mamma di M., che mi ha chiamata preoccupata per suo figlio, 
un ragazzo dislessico di prima media, sveglio e simpatico, ma che faceva proprio fatica a 
memorizzare e collezionava brutti voti… </br>
E’ iniziato lì un bellissimo percorso, superando piano piano quei brutti mostri chiamati frustrazione e insuccesso scolastico, 
e piano piano è riuscito a recuperare l’autostima perduta, dovuta a quegli anni scolastici in cui ancora non erano 
riusciti a capirlo…</br>
Questa è solo una delle storie con cui ho avuto la fortuna di venire a contatto, 
ma lui è stato il primo a ispirarmi, e questo percorso mi ha dato così tanta soddisfazione che è stato 
lì che ho deciso che sarebbe stata la mia strada, e ho iniziato a migliorarmi e specializzarmi sempre di più. E soprattutto ciò ha portato infine a un lavoro che mi piace moltissimo!

                </br></br>
                </p>
                <img src="{{ site.baseurl }}/img/simona.png" align=left hspace="30" vspace="20" width="40%"> 
                <h4 class="section-heading"><b>Ora mi presento meglio...</b></h4>
                <p>
               
                    Partiamo dal mio percorso scolastico: ho frequentato il liceo classico, e
                    ora la reputo una scelta bella e fondamentale della mia vita, perché mi ha permesso di affrontare 
                    lo studio (per niente semplice!) di diverse materie. </br>
                    Da lì vengono le basi delle conoscenze su me stessa che ora posso mettere in atto con i miei studenti, 
semplicemente perché io stessa in primis mi sono scontrata con tonnellate di pagine da studiare, infinite righe a 
memoria e teoremi e procedure matematiche da comprendere! 
Il fatto che mi ci sono trovata io stessa mi ha 
permesso di capire meglio quali sono le strategie vincenti nello studio, 
considerando però che sono diverse da persona a persona. </br>
Avessi affrontato il liceo con le conoscenze sull’apprendimento che ho ora…!</br>
Sono una persona curiosa a cui tuttora piace studiare e aggiornarsi, quindi ancora adesso 
sono alla continua ricerca di modi/strategie/risorse che supportino l’apprendimento.
                </p>
                <h4 class="section-heading"><b>Le mie passioni...</b></h4>
                <p>
                    Oltre alla passione per il mio lavoro, un’altra cosa che amo è viaggiare! Sono brava a pianificare e organizzare, 
                    e utilizzo questa mia capacità nell’organizzare brevi (o lunghe!) fughe dalla realtà, 
                    possibilmente in posti esotici forniti di palme.
                </br></br>
                    Sono anche amante dello sport, faccio delle maratone di Netflix che non finiscono più… ;) 
                </br></br>
                    Trovi le descrizioni di cosa posso fare per te nell’area “Servizi” del sito.
                    Se c’è qualcosa che posso fare per aiutarti, qui sotto trovi i miei contatti.
                </p>
            </div>
        </div>
    </div>
</section>
