<section class="rsvp" id="conferma">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center text-faded"><b>Conferma la partecipazione</b></h2>
				<hr class="light">
				<p class="text-faded">
					Noi ci stiamo impegnando tanto per organizzare una bellissima festa per 
					celebrare questo momento, ma per farlo abbiamo bisogno di orientarci 
					rispetto al numero degli invitati che effettivamente saranno presenti.
					<br /> Quindi per favore per confermare o meno la tua presenza e della tua 
					famiglia, compila il modulo che trovi cliccando sul seguente tasto:
				</p>
				<p class="text-faded">
					Grazie mille per la gentilezza e per semplificarci l’organizzazione.
				</p>
				<div class="rsvp-content">
					<div class="rsvp-content-inner">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSfPotYkmL8CWozeVWZm-M6SD0qSIEJCauilp5lXHzqNOPXQdw/viewform?usp=sf_link" class="btn btn-default btn-xl wow tada"><b>RSVP</b></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
