<section class="bg-white" id="contatti">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contatti</h2>
                <hr>
                <p>
                    Qui trovi i miei contatti, usali se hai bisogno di qualsiasi informazione!
                </p>
            </div>
        </div>
        </br>
        <div class="col-lg-4 text-center">
            <a href="tel:348-7006829">
            <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>+39 348 700 68 29</p>
            </a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="mailto:simo.forzani@hotmail.it">
                <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>simo.forzani@hotmail.it</p>
            </a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="https://www.facebook.com/simonaforzanipsicologa">
            <i class="fab fa-facebook-f fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>@simonaforzanipsicologa</p>
            </a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>
                    </br>
                    Ricevo a Borgomanero (NO) in viale Marazza 44.
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2786.5467579570204!2d8.463812515565357!3d45.70006707910442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47866cff32374bf3%3A0x1e8ec6c41671dd1d!2sViale%20Marazza%2C%2044%2C%2028021%20Borgomanero%20NO!5e0!3m2!1sit!2sit!4v1643363716391!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p>
                    <br>
                    Se sei troppo lontano, prenota un <a href="{{ site.baseurl }}/consulenzaonline"><b>incontro online</b></a>.
                </p>
            </div>
        </div>
    </div>
</section>
