<section id="contatti">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contatti</h2>
                <p>
                    Qui trovi i miei contatti, usali se hai bisogno di qualsiasi informazione!
                </p>
            </div>
        </div>
        </br>
        <div class="col-lg-2 col-lg-offset-3 text-center">
            <a href="mailto:simo.forzani@hotmail.it">
                <i class="fas fa-envelope fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{simo.forzani@hotmail.com}}</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://www.facebook.com/simonaforzanipsicologa">
            <i class="fab fa-facebook-f fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{simo.forzani@hotmail.com}}</p>
            </a>
        </div>
        <div class="col-lg-2 text-center">
            <a href="https://www.linkedin.com/in/simonaforzani/">
            <i class="fab fa-linkedin-in fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
