<section class="bg-primary" id="dove">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dove e quando</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="dove-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-white"></i>
                    <h3>Celebrazione</h3>
                    <p class="text-muted">
                        La celebrazione sarà alle ore 11.00 nella chiesa 
                        <b>San Francesco d’Assisi</b>, a Vergano di Borgomanero
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="dove-box">
                    <i class="fa fa-4x fa-glass wow bounceIn text-white" data-wow-delay=".1s"></i>
                    <h3>Ricevimento</h3>
                    <p class="text-muted">
                        A seguire il ricevimento sarà alla <b>Tenuta del Golfo</b>, 
                        via per Levo 55, 28838 Stresa VB
                    </p>
                </div>
            </div>  
        </div>
    </div>
</section>
