<section id="gift" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-center text-faded"><b>Lista nozze</b></h2>
                <hr class="primary">
            </div>
        </div>
        <div class="col-lg-12 col-lg-offset-2">
            <p class="text-faded text-justify">
                Come regalo di nozze abbiamo scelto un contributo per il nostro viaggio.
                <br>
                Puoi contribuire attraverso le seguenti modalità: 
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="dove-box">
                        <i class="fa fa-2x fa-paper-plane-o wow bounceIn text-faded"></i>
                        <h3 class="text-faded">Bonifico</h3>
                        <p class="text-faded">
                            Cusio Viaggi di Castelli Marilena <br>
                            IT68S0521645220000000000144
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="dove-box">
                        <i class="fa fa-2x fa-street-view wow bounceIn text-faded" data-wow-delay=".1s"></i>
                        <h3 class="text-faded">In agenzia</h3>
                        <p class="text-faded">
                            Cusio Viaggi, viale Marazza 32, Borgomanero
                        </p>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    
</section>
