<section id="quiz">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2 class="section-heading text-center text-faded"><b>Quiz</b></h2>
				<hr>
				<p class="text-faded text-center">
					Metti alla prova la tua conoscenza di Simona e Paolo con questo piccolo quiz.
				</p>
				<p class="text-faded text-center">
					Se risponderai correttamente a tutte le domande vincerai un aperitivo offerto dagli sposi 
					presso loro umile dimora!
				</p>
				<div class="content">
					<div class="content-inner text-center">
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSfXCDAVGkG10JnrP4A-m6fYkyjJhJvMKba8yI7feu0qtIlqCA/viewform?usp=sf_link" 
						target="_blank" class="btn btn-primary btn-xl wow tada"><b>Quiz</b></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
