<section class="tema" id="tema">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center text-faded"><b>Il tema del nostro matrimonio</b></h2>
                <hr class="light">
                <p class="text-faded text-justify">
                    Il tema del matrimonio sarà il viaggio. Perché proprio il viaggio?
                </p>
                <p class="text-faded text-justify">
                    Perché è ciò che ci rappresenta meglio!
                </p>
                <p class="text-faded text-justify">
                    A Paolo piace sgambettare in montagna per decine di km, Simona invece le uniche 
                    maratone che ama sono quelle di Netflix, ma su un qualcosa ci troviamo sempre 
                    d’accordo... Partire appena possibile!
                </p>
                <p class="text-faded text-justify">
                    Abbiamo iniziato la nostra carriera di viaggiatori poco più che ventenni, 
                    con un weekend lungo a Parigi... Al quale sono seguiti molti altri weekend nelle 
                    città europee più belle (su tutte, Berlino e Barcellona nel cuore), per poi passare 
                    ad obiettivi più ambiziosi, sempre organizzati da Simona, come la Thailandia, 
                    il Giappone e Dubai. 
                </p>
                <p class="text-faded text-justify">
                    Ma il nostro viaggio più ambizioso e’ quello che deve ancora venire, quello di nozze! 
                </p>
                <p class="text-faded text-justify">
                    Realizzeremo a Settembre uno dei nostri sogni, facendo la Pacific Road, che collega 
                    San Francisco a Los Angeles, per poi riprendere il volo per uno dei posti più belli 
                    del mondo: 
                </p>
                <p class="text-faded text-center"> <b>le Hawaii!!</b>
                </p>
                <p class="text-faded text-justify">
                    Abbiamo scelto le Hawaii per combinare la voglia di mare di Simona (insaziabile) 
                    ai mille percorsi di hiking che si possono fare su quelle meravigliose isole, 
                    per la gioia di Paolo... In cima a vulcani, pendii, montagnette, non ci faremo 
                    mancare niente!
                </p>
                <p class="text-faded text-justify">
                    Da qui si spiega anche il colore che abbiamo scelto come leitmotiv del matrimonio: 
                    azzurro pastello, come il cielo del sole appena sorto, quando parti in aereo per 
                    una nuova avventura ;)
                </p>
            </div>
        </div>  
    </div>
</section>
