<section id="viaggio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-center text-faded"><b>Luna di miele</b></h2>
                <hr class="primary">
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class="text-faded text-justify">
                Ecco qua le tappe ipotizzate del nostro viaggio più grande!
            </p>
            <p class="text-faded text-justify"><img src="img/plane.jpg" class="img-responsive" align="left"/>
                La nostra avventura inizierà il 9 Settembre da Milano Malpensa, destinazione 
                San Francisco!
            </p>
            <p class="text-faded text-justify">
                I primi tre giorni li dedichiamo a riprenderci dal fuso (Simona ha una lunga 
                storia di amore-odio con i cambi di orario) e ad esplorare la nostra prima meta.
            </p>
            <p class="text-faded text-justify">
                Il quarto giorno, pronti in auto per iniziare a percorrere la Pacific Road, 
                fermandoci durante il viaggio per le tappe più belle!
            </p>
            <p class="text-faded text-justify">
                Altro stop a Santa Barbara e arriviamo a Los Angeles pronti a prendere 
                l’aereo per le bellissime isole delle Hawaii.
            </p>
            <p class="text-faded"><img src="img/honeymoon.jpg" class="img-responsive" align="right"/>
                Sei ore di volo ci porteranno a Oahu, dove c’è la capitale, Honolulu. 
                Lì staremo i primi 5 giorni. Dopodiché cambio di isola e paesaggi, Maui ci 
                aspetta! 
            </p>
            <p class="text-faded">
                Belli cotti dal sole (speriamo!), ritorniamo per gli ultimi due giorni a 
                Los Angeles, dove finalmente possiamo scoprire la city di Hollywood.
            </p>
            <p class="text-faded">
                A quel punto sarà anche ora di tornare a casa e riprendere la nostra routine 
                lavorativa, sperando di aver passato un bellissimo viaggio! 
            </p>
            <p class="text-faded">
                L’organizzazione del nostro viaggio è stata affidata all’agenzia Cusio Viaggi 
                di Borgomanero.
            </p>
            <p class="text-faded text-justify">
                Ed è lì che abbiamo voluto creare la lista nozze, così che tutti potessero 
                aiutarci a costruire, pezzettino per pezzettino, la nostra avventura! 
            </p>
            <p class="text-faded text-justify">
                La tua presenza sarà il regalo più grande per noi, ma se ti fa piacere contribuire 
                puoi farlo attraverso la lista nozze.
            </p> 
        </div>    
    </div>
</section>
